* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-size: calc(100vw/7.2);
}
img {
  display: block;
}
@keyframes ddd {
  100% {
    background-position: 0 0;
  }
}
.box {
  width: 7.2rem;
  overflow: hidden;
  position: relative;
  height: 100%;
  background-image: url(../image/Annualbilling.jpg);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: cover;
  animation: 4s linear forwards;
}
.box .two {
  display: none;
}
.box .wb {
  font-size: 0.35rem;
  color: #16857f;
  position: absolute;
  left: 2.45rem;
  bottom: 4.9rem;
  animation: 2s linear forwards;
  opacity: 0;
}
.box .wb p:nth-child(1) {
  margin-bottom: 0.32rem;
}
.box .jt {
  position: absolute;
  bottom: 2.24rem;
  width: 100%;
  margin: auto;
  opacity: 0;
  animation: 2s linear infinite forwards;
}
.box .jt img {
  width: 0.64rem;
  margin: auto;
  display: block;
}
.box .jt .wave1 {
  animation: 3s linear infinite;
}
.box .jt .wave2 {
  animation: 3s linear infinite;
}
.box .jt .wave3 {
  animation: 3s linear infinite;
}
.box .yx {
  width: 1.64rem;
  position: absolute;
  right: 0.2rem;
  bottom: 0.2rem;
  z-index: 99;
}
.box .yx img {
  width: 100%;
}
.box .top {
  width: 7.2rem;
  height: 4.65rem;
  position: absolute;
  top: 0.41rem;
  animation: xs 2s linear;
}
.box .top img {
  width: 100%;
}
.box .tu1 {
  width: 4.24rem;
  height: 1.28rem;
  position: absolute;
  left: 1.5rem;
  top: 1.8rem;
  animation: xs 2s linear;
}
.box .tu1 img {
  width: 100%;
}
.box .year {
  font-size: 0.31rem;
  color: white;
  position: absolute;
  letter-spacing: 0.05rem;
  top: 1.1rem;
  left: 1.41rem;
}
.box .year span {
  font-size: 0.29rem;
  color: white;
  position: absolute;
  top: 0.06rem;
  left: 1.04rem;
}
.box .top2 {
  width: 0.76rem;
  height: 0.76rem;
  position: absolute;
  top: 1.82rem;
  left: 2.03rem;
}
.box .top2 img {
  width: 100%;
}
.box .nr {
  font-size: 0.22rem;
  color: white;
  letter-spacing: 0.02rem;
  margin-bottom: 0.09rem;
  position: absolute;
  top: 1.74rem;
  left: 3.18rem;
}
.box .zh {
  font-size: 0.2rem;
  color: white;
  position: absolute;
  top: 3.09rem;
  left: 3.36rem;
}
.box .z155 {
  height: 2.4rem;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 97;
}
.box .z155 img {
  width: 100%;
}
.box .z299 {
  height: 5.74rem;
  position: absolute;
  bottom: 0.36rem;
}
.box .z299 img {
  width: 100%;
}
.box .z355 {
  height: 4.8rem;
  position: absolute;
  left: 0;
  bottom: 3.6rem;
}
.box .z355 img {
  width: 100%;
}
.box .z36 {
  height: 1.31rem;
  position: absolute;
  left: 0;
  bottom: 7.3rem;
}
.box .z36 img {
  width: 100%;
}
.box .sj {
  width: 2rem;
  height: 0.58rem;
  position: absolute;
  left: 2.59rem;
  bottom: 0rem;
  z-index: 999;
  animation: gzs 1s linear;
}
.box .sj img {
  width: 100%;
}
.box .z01 {
  width: 2rem;
  height: 0.58rem;
  position: absolute;
  left: 2.59rem;
  bottom: 0;
  z-index: 9999;
}
.box .z01 img {
  width: 100%;
}
.box .z02 {
  width: 1rem;
  height: 4.04rem;
  position: absolute;
  left: 2.604rem;
  bottom: -3.18rem;
  z-index: 99;
  animation: yi 1s forwards;
  animation-delay: 2s;
  transform: translateY(10rem);
}
.box .z02 img {
  width: 100%;
}
@keyframes yi {
  0% {
    transform: translateY(2rem);
  }
  50% {
    transform: translateY(-0.1rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
.box .z03 {
  width: 1rem;
  height: 4.04rem;
  position: absolute;
  left: 2.112rem;
  bottom: -2.9rem;
  z-index: 98;
  animation: yi1 2s forwards;
  animation-delay: 2s;
  transform: translateY(10rem);
}
.box .z03 img {
  width: 100%;
}
@keyframes yi1 {
  0% {
    transform: translateY(3rem);
  }
  50% {
    transform: translateY(-0.2rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
.box .z04 {
  width: 2rem;
  height: 5.34rem;
  position: absolute;
  left: 1.63rem;
  bottom: -3.355rem;
  z-index: 97;
  animation: yi2 2.5s forwards;
  animation-delay: 2s;
  transform: translateY(10rem);
}
.box .z04 img {
  width: 100%;
}
@keyframes yi2 {
  0% {
    transform: translateY(3rem);
  }
  50% {
    transform: translateY(-0.3rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
.box .z05 {
  width: 1.76rem;
  height: 3.02rem;
  position: absolute;
  left: 1.39rem;
  bottom: -0.325rem;
  z-index: 96;
  animation: yi3 3s forwards;
  animation-delay: 2s;
  transform: translateY(10rem);
}
.box .z05 img {
  width: 100%;
}
@keyframes yi3 {
  0% {
    transform: translateY(3rem);
  }
  50% {
    transform: translateY(-0.4rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
.box .z06 {
  width: 1.76rem;
  height: 3.02rem;
  position: absolute;
  left: 0.157rem;
  bottom: 0.39rem;
  z-index: 95;
  animation: yi4 3.5s forwards;
  animation-delay: 2s;
  transform: translateY(10rem);
}
.box .z06 img {
  width: 100%;
}
@keyframes yi4 {
  0% {
    transform: translateY(4rem);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
.box .z07 {
  width: 1rem;
  height: 4.21rem;
  position: absolute;
  left: 0.85rem;
  bottom: -0.07rem;
  z-index: 94;
  animation: yi5 4s forwards;
  animation-delay: 2s;
  transform: translateY(10rem);
}
.box .z07 img {
  width: 100%;
}
@keyframes yi5 {
  0% {
    transform: translateY(4rem);
  }
  50% {
    transform: translateY(-0.6rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
.box .z08 {
  width: 1rem;
  height: 3.75rem;
  position: absolute;
  left: 1.35rem;
  bottom: 0.68rem;
  z-index: 93;
  animation: yi6 4.5s forwards;
  animation-delay: 2s;
  transform: translateY(10rem);
}
.box .z08 img {
  width: 100%;
}
@keyframes yi6 {
  0% {
    transform: translateY(6rem);
  }
  50% {
    transform: translateY(-0.7rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
.box .z09 {
  width: 1.26rem;
  height: 3.02rem;
  position: absolute;
  left: 3.62rem;
  bottom: 0.22rem;
  z-index: 9;
  animation: 2.5s forwards;
}
.box .z09 img {
  width: 100%;
}
.box .z10 {
  width: 1.26rem;
  height: 3.45rem;
  position: absolute;
  left: 4.27rem;
  bottom: -0.27rem;
  z-index: 8;
  animation: 2s forwards;
}
.box .z10 img {
  width: 100%;
}
.box .z11 {
  width: 1rem;
  height: 5.27rem;
  position: absolute;
  left: 3.13rem;
  bottom: -1.77rem;
  z-index: 7;
  animation: 3s linear forwards;
}
.box .z11 img {
  width: 100%;
}
.box .fei {
  width: 1rem;
  height: 5.27rem;
  position: absolute;
  left: 3.13rem;
  bottom: -1.77rem;
  z-index: 7;
  display: none;
  animation: 2s linear forwards;
}
.box .fei img {
  width: 100%;
}
.box .z12 {
  width: 0.76rem;
  height: 0.8rem;
  position: absolute;
  left: 5.02rem;
  bottom: 2.82rem;
  z-index: 7;
  animation: 1s forwards;
}
.box .z12 img {
  width: 100%;
}
.box .z13 {
  width: 1rem;
  height: 3.2rem;
  position: absolute;
  left: 6.6rem;
  bottom: -0.46rem;
  z-index: 7;
  animation: ss 1s forwards;
}
.box .z13 img {
  width: 100%;
}
.box .z14 {
  width: 1rem;
  height: 3.75rem;
  position: absolute;
  left: 5.27rem;
  bottom: 0.15rem;
  z-index: 6;
  animation: 3.5s forwards;
}
.box .z14 img {
  width: 100%;
}
.box .z15 {
  width: 1.26rem;
  height: 4.21rem;
  position: absolute;
  left: 5.76rem;
  bottom: 0.26rem;
  z-index: 5;
  animation: 2s forwards;
}
.box .z15 img {
  width: 100%;
}
.box .z16 {
  width: 0.6rem;
  height: 0.84rem;
  position: absolute;
  left: 6.04rem;
  bottom: 4.26rem;
  z-index: 5;
  animation: 2s forwards;
}
.box .z16 img {
  animation: move 800ms linear infinite alternate;
  width: 100%;
}
.box .z17 {
  width: 1.63rem;
  height: 4.61rem;
  background: url(../image/z18-c.png);
  background-size: 100% 100%;
  animation: mo 500ms linear infinite;
}
.box .z18 {
  width: 1.26rem;
  height: 3.45rem;
  position: absolute;
  left: 0.85rem;
  bottom: 1.416rem;
  z-index: 9;
  animation: 2s forwards;
}
.box .z18 img {
  width: 100%;
}
.box .z19 {
  width: 1.26rem;
  height: 3.45rem;
  position: absolute;
  left: 1.58rem;
  bottom: 1.837rem;
  z-index: 4;
  animation: 2.5s forwards;
}
.box .z19 img {
  width: 100%;
}
.box .z20 {
  width: 1.26rem;
  height: 3.45rem;
  position: absolute;
  left: 2.32rem;
  bottom: 2.258rem;
  z-index: 3;
  animation: 3s forwards;
}
.box .z20 img {
  width: 100%;
}
.box .z21 {
  width: 1.26rem;
  height: 3.45rem;
  position: absolute;
  left: 3.05rem;
  bottom: 2.68rem;
  z-index: 2;
  animation: 3.5s forwards;
}
.box .z21 img {
  width: 100%;
}
.box .z22 {
  width: 1rem;
  height: 3.75rem;
  position: absolute;
  left: 3.81rem;
  bottom: 2.66rem;
  z-index: 1;
  animation: 4s forwards;
}
.box .z22 img {
  width: 100%;
}
.box .z23 {
  width: 1rem;
  height: 3.46rem;
  position: absolute;
  left: 4.31rem;
  bottom: 3.53rem;
  z-index: 0;
  animation: 2s forwards;
}
.box .z23 img {
  width: 100%;
}
.box .z24 {
  width: 0.82rem;
  height: 0.73rem;
  position: absolute;
  left: 4.4rem;
  bottom: 6.88rem;
  z-index: 0;
  animation: 2s forwards;
}
.box .z24 img {
  animation: move 800ms linear infinite alternate;
  width: 100%;
}
.box .z25 {
  width: 1rem;
  height: 1.45rem;
  position: absolute;
  left: 4.3rem;
  bottom: 4.7rem;
  z-index: 2;
  animation: 1s forwards;
}
.box .z25 img {
  width: 100%;
}
.box .z26 {
  width: 1rem;
  height: 4.04rem;
  position: absolute;
  left: 4.78rem;
  bottom: 0.14rem;
  z-index: 6;
  animation: 1.5s forwards;
}
.box .z26 img {
  width: 100%;
}
.box .z27 {
  width: 1rem;
  height: 4.04rem;
  position: absolute;
  left: 4.29rem;
  bottom: 0.42rem;
  z-index: 5;
  animation: 2s forwards;
}
.box .z27 img {
  width: 100%;
}
.box .z28 {
  width: 2rem;
  height: 5.34rem;
  position: absolute;
  left: 3.8rem;
  bottom: -0.028rem;
  z-index: 3;
  animation: 2.5s forwards;
}
.box .z28 img {
  width: 100%;
}
.box .z29 {
  width: 1rem;
  height: 3.46rem;
  position: absolute;
  left: 0.357rem;
  bottom: 1.84rem;
  z-index: 0;
  animation: 3s forwards;
}
.box .z29 img {
  width: 100%;
}
.box .z30 {
  width: 0.68rem;
  height: 0.66rem;
  position: absolute;
  left: 0.55rem;
  bottom: 5.26rem;
  animation: 3s forwards;
}
.box .z30 img {
  animation: move 800ms linear infinite alternate;
  width: 100%;
}
.box .z31 {
  width: 1.5rem;
  height: 6.34rem;
  position: absolute;
  left: 5.58rem;
  bottom: 1.5rem;
  animation: ss 1.5s forwards;
}
.box .z31 img {
  width: 100%;
}
.box .z32 {
  width: 2.5rem;
  height: 5.71rem;
  position: absolute;
  left: 1.1rem;
  bottom: 2.07rem;
  animation: ss 1s forwards;
}
.box .z32 img {
  width: 100%;
}
.box .gz1 {
  width: 0.7rem;
  height: 1rem;
  position: absolute;
  left: 3.29rem;
  bottom: 0.12rem;
  z-index: 99999;
  animation: 2s linear forwards;
}
.box .gz1 img {
  width: 100%;
}
.box .gz2 {
  width: 0.7rem;
  height: 1rem;
  position: absolute;
  left: 3.29rem;
  bottom: 0.12rem;
  z-index: 99999;
  display: none;
  animation: 2s linear forwards;
}
.box .gz2 img {
  width: 100%;
}
.box .gz1m {
  width: 0.7rem;
  height: 1rem;
  position: absolute;
  left: 3.29rem;
  bottom: 0.12rem;
  z-index: 99999;
  animation: gzs 1s linear;
}
.box .gz1m img {
  width: 100%;
}
.box .mtl {
  position: absolute;
  left: 2.13rem;
  bottom: 0.65rem;
  z-index: 5;
  animation: ss 1.5s forwards;
}
.box .ft {
  transform: translateY(10rem);
}
.box .dh,
.box .er,
.box .san {
  transform: translateY(10rem);
}
.box .dhz,
.box .xhz,
.box .zbz {
  transform: translateY(10rem);
}
.box .z16,
.box .z30,
.box .z24 {
  transform: translateY(10rem);
}
@keyframes move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0.08rem);
  }
}
@keyframes mo {
  0% {
    background-image: url(../image/z18-c.png);
  }
  33.3% {
    background-image: url(../image/z18-a.png);
  }
  66.6% {
    background-image: url(../image/z18-b.png);
  }
  100% {
    background-image: url(../image/z18-c.png);
  }
}
@keyframes gz1 {
  0% {
    left: 3.29rem;
    bottom: 0.12rem;
  }
  24% {
    left: 1.8rem;
    bottom: 0.95rem;
  }
  40% {
    left: 2.7rem;
    bottom: 1.6rem;
  }
  78% {
    left: 0.5rem;
    bottom: 2.9rem;
  }
  100% {
    left: 1.46rem;
    bottom: 4.05rem;
  }
}
@keyframes gz2 {
  0% {
    left: 1.4rem;
    bottom: 4.05rem;
  }
  12% {
    left: 1.01rem;
    bottom: 4.29rem;
  }
  100% {
    left: 3.95rem;
    bottom: 6.02rem;
  }
}
@keyframes gz3 {
  0% {
    left: 3.95rem;
    bottom: 6.02rem;
  }
  33.6% {
    left: 4.9rem;
    bottom: 4.9rem;
  }
  59.9% {
    left: 3.9rem;
    bottom: 4.33rem;
  }
  100% {
    left: 5.43rem;
    bottom: 3.48rem;
  }
}
@keyframes gz4 {
  0% {
    left: 5.4rem;
    bottom: 3.5rem;
  }
  63% {
    left: 4.01rem;
    bottom: 2.36rem;
  }
  100% {
    left: 3.26rem;
    bottom: 3.1rem;
  }
}
@keyframes tz {
  0% {
    transform: translateY(4rem);
  }
  50% {
    transform: translateY(-0.6rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
@keyframes ss {
  0% {
    transform: translateY(10rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
@keyframes gzs {
  0% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
@keyframes xs {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ft {
  0% {
    transform: translateY(0rem);
  }
  10% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(-1.6rem);
  }
}
@keyframes gft {
  0% {
    left: 3.26rem;
    bottom: 3.1rem;
  }
  10% {
    transform: translateY(0.7rem);
  }
  100% {
    transform: translateY(-4.6rem);
  }
}
@keyframes decline {
  0% {
    transform: translateY(13rem);
  }
  100% {
    transform: translateY(26rem);
  }
}
@keyframes three {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tiao {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.2rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
.box .three {
  display: none;
  animation: three 2s linear forwards;
}
.box .zit {
  font-size: 0.3rem;
  position: absolute;
  top: 0.87rem;
  left: 0.77rem;
  color: white;
}
.box .zit .w1 {
  font-size: 0.25rem;
  margin-bottom: 0.3rem;
}
.box .zit .w2 {
  margin-bottom: 0.37rem;
}
.box .zit .w2 span {
  font-size: 0.45rem;
  margin-left: 0.1rem;
}
.box .fx {
  font-size: 0.3rem;
  width: 2.2rem;
  color: white;
  border: 0.01rem solid white;
  border-radius: 0.35rem;
  text-align: right;
  line-height: 0.7rem;
  position: absolute;
  top: 0.8rem;
  right: 0.5rem;
}
.box .fx p {
  margin-right: 0.25rem;
}
.box .left {
  width: 2rem;
  display: flex;
  padding: 0.17rem 0.32rem;
  font-size: 0.24rem;
  line-height: 0.24rem;
  color: white;
  left: 0.7rem;
  border: 0.01rem solid white;
  border-radius: 0.3rem;
  position: absolute;
  bottom: 1rem;
}
.box .left img {
  width: 0.18rem;
  margin-right: 0.16rem;
}
.box .right {
  width: 2rem;
  display: flex;
  padding: 0.17rem 0.32rem;
  font-size: 0.24rem;
  line-height: 0.24rem;
  color: white;
  right: 0.7rem;
  border: 0.01rem solid white;
  border-radius: 0.3rem;
  position: absolute;
  bottom: 1rem;
}
.box .right img {
  width: 0.18rem;
  margin-right: 0.16rem;
}
.box .qiu1 {
  width: 1.65rem;
  height: 1.64rem;
  background-image: url(../image/star_box3.png);
  position: absolute;
  background-size: 100%;
  z-index: 999;
  top: 6.3rem;
  left: 0.5rem;
  animation: tiao 2s linear infinite forwards;
}
.box .qiu1 p {
  padding: 0 0.15rem;
  border: 0.02rem solid white;
  font-size: 0.25rem;
  line-height: 0.5rem;
  border-radius: 0.15rem;
  position: absolute;
  bottom: 0.2rem;
  left: 50%;
  transform: translateX(-50%);
}
.box .qiu2 {
  width: 1.82rem;
  height: 1.82rem;
  background-image: url(../image/star_box2.png);
  position: absolute;
  background-size: 100%;
  top: 5.5rem;
  right: 0.5rem;
  animation: tiao 2s linear infinite forwards;
}
.box .qiu2 p {
  padding: 0 0.15rem;
  border: 0.02rem solid white;
  font-size: 0.25rem;
  line-height: 0.5rem;
  border-radius: 0.15rem;
  position: absolute;
  bottom: 0.35rem;
  left: 50%;
  transform: translateX(-50%);
}
.box .qiu3 {
  width: 2.1rem;
  height: 2.08rem;
  background-image: url(../image/star_box1.png);
  position: absolute;
  left: 2.5rem;
  top: 4.4rem;
  background-size: 100%;
  animation: tiao 2s linear infinite forwards;
}
.box .qiu3 p {
  padding: 0 0.15rem;
  border: 0.02rem solid white;
  font-size: 0.25rem;
  line-height: 0.5rem;
  border-radius: 0.15rem;
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.box .zy1 {
  width: 0.7rem;
  position: absolute;
  left: 0.95rem;
  top: 5.8rem;
  z-index: 9999;
  animation: tiao 2s linear infinite forwards;
}
.box .zy1 img {
  width: 100%;
}
.box .zy2 {
  width: 0.7rem;
  position: absolute;
  left: 3.2rem;
  top: 4rem;
  animation: tiao 2s linear infinite forwards;
}
.box .zy2 img {
  width: 100%;
}
.box .zy3 {
  width: 0.7rem;
  position: absolute;
  left: 5.5rem;
  top: 5.1rem;
  animation: tiao 2s linear infinite forwards;
}
.box .zy3 img {
  width: 100%;
}
.box .bt {
  color: white;
  font-size: 0.32rem;
  display: none;
  position: absolute;
  top: 1.31rem;
  left: 1.36rem;
}
.box .bt .wz {
  font-size: 0.2rem;
  margin-left: 2.21rem;
  margin-top: 0.47rem;
}
.box .bt1 {
  display: none;
}
.box .bt2 {
  color: white;
  display: none;
  position: absolute;
  top: 1.2rem;
  left: 1.17rem;
}
.box .bt2 .db {
  display: flex;
  font-size: 0.3rem;
  margin-left: 0.13rem;
  margin-bottom: 0.31rem;
}
.box .bt2 .db .zuo {
  margin-right: 0.27rem;
}
.box .bt2 .db .zuo img {
  width: 0.76rem;
}
.box .bt2 > p {
  font-size: 0.24rem;
}
.box .bt3 {
  color: white;
  font-size: 0.3rem;
  display: none;
  position: absolute;
  top: 1.07rem;
  left: 1.25rem;
}
.box .bt3 .wz1 {
  margin-bottom: 0.27rem;
}
.box .bt3 .wz2 {
  font-size: 0.25rem;
}
.box .gq1,
.box .gq2,
.box .gq3,
.box .gq4 {
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  border: 0.02rem solid white;
  animation: fdsx 2s linear infinite forwards;
}
@keyframes fdsx {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
.box .gq1 {
  position: absolute;
  left: 1.7rem;
  bottom: 4.05rem;
  z-index: 999;
  pointer-events: none;
  display: none;
}
.box .gq2 {
  position: absolute;
  left: 4.19rem;
  bottom: 6.02rem;
  z-index: 999;
  pointer-events: none;
  display: none;
}
.box .gq3 {
  position: absolute;
  left: 5.6rem;
  bottom: 3.48rem;
  z-index: 999;
  pointer-events: none;
  display: none;
}
.box .gq4 {
  position: absolute;
  left: 3.5rem;
  bottom: 3.1rem;
  z-index: 999;
  pointer-events: none;
  display: none;
}
